<h3>Welcome to our project "<%= @project.title %>" page!</h3>

<h4> Volunteers in this project </h4>

<h4> Edit this project? <button class="btn btn-info"><a href="/projects/<%= @project.id %>/edit"> Edit Project</a></button>

<br>
<br>
<button class="btn btn-link"><a href="/">Home</a></button>